fastapi==0.111.0
uvicorn[standard]>=0.29
httpx==0.27.0
arxiv==2.1.3
pydantic>=2.6
openai==1.30.5
pypdf==4.2.0
python-multipart>=0.0.6
aiofiles>=23.0
groq==0.8.0
anthropic==0.23.1

# For templating
jinja2